{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}My Blog{% endblock %}
{% block content %}
    <h1>My Blog</h1> <hr />
    {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}"> {{ post.title }}</a>
        </h2>
        {% if tag %}
            <p class="muted">Tags: {{post.tags.all|join:", "}}</p>
        {% endif %}
        <p class="small text-muted">
            Published {{ post.publish }} by {{ post.author }}
        </p>
        {{ post.body|markdown|truncatewords_html:5 }}
    {% endfor %}


    {% include 'pagination.html' with page=posts %}
{% endblock %}